# IntelliJ
.idea
*.iws
*.iml
*.ipr
out/
.run/

# MacOS
**/.DS_Store

# Gradle
HELP.md
.gradle
build/
!/build
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# AsciiDoc
doc/**/*.png
doc/**/*.pdf
doc/**/*.cache
doc/doc.xml